<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.reift.kultum">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logoapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kultum"
        tools:targetApi="31">
        <activity
            android:name=".presentation.connect.fragment.ConnectProfileFragment"
            android:exported="false" />
        <activity
            android:name=".presentation.profile.activity.ProfileShortsActivity"
            android:exported="false"
            android:theme="@style/Theme.Kultum.lightStatusBar"/>
        <activity
            android:name=".presentation.post.PostActivity"
            android:exported="false"
            android:theme="@style/Theme.Kultum.lightStatusBar" />
        <activity
            android:name=".presentation.edit.EditActivity"
            android:exported="false"
            android:theme="@style/Theme.Kultum.lightStatusBar" />
        <activity
            android:name=".presentation.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Kultum.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.register.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Kultum.lightStatusBar" />
        <activity
            android:name=".presentation.login.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Kultum.lightStatusBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/transparentStatusBar" />
    </application>

</manifest>